@model NickZPS.Models.Order

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-label">
    @Html.LabelFor(model => model.OrderDate)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.OrderDate)
    @Html.ValidationMessageFor(model => model.OrderDate)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.RequiredDate)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.RequiredDate)
    @Html.ValidationMessageFor(model => model.RequiredDate)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.ShippedDate)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.ShippedDate)
    @Html.ValidationMessageFor(model => model.ShippedDate)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.ShipVia)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.ShipVia)
    @Html.ValidationMessageFor(model => model.ShipVia)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Freight)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Freight)
    @Html.ValidationMessageFor(model => model.Freight)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.ShipName)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.ShipName)
    @Html.ValidationMessageFor(model => model.ShipName)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.ShipAddress)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.ShipAddress)
    @Html.ValidationMessageFor(model => model.ShipAddress)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.ShipCity)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.ShipCity)
    @Html.ValidationMessageFor(model => model.ShipCity)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.ShipRegion)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.ShipRegion)
    @Html.ValidationMessageFor(model => model.ShipRegion)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.ShipPostalCode)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.ShipPostalCode)
    @Html.ValidationMessageFor(model => model.ShipPostalCode)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.ShipCountry)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.ShipCountry)
    @Html.ValidationMessageFor(model => model.ShipCountry)
</div>

<div class="editor-label">
    User
</div>
<div class="editor-field">
    @Html.DropDownListFor(model => model.UserID, ((IEnumerable<NickZPS.Models.SysUser>)ViewBag.PossibleUsers).Select(option => new SelectListItem {
        Text = (option == null ? "None" : option.UserName), 
        Value = option.ID.ToString(),
        Selected = (Model != null) && (option.ID == Model.UserID)
    }), "Choose...")
    @Html.ValidationMessageFor(model => model.UserID)
</div>
