@model IEnumerable<NickZPS.Models.Order>

@{
    ViewBag.Title = "Index";
}

<h2>Order List</h2>

<p>
    @Html.ActionLink("Create New Order", "Create")
</p>
<table style="width:100%">
    <tr>
        <th>Operation</th>
        <th>
            OrderDate
        </th>
        <th>
            RequiredDate
        </th>
        <th>
            ShippedDate
        </th>
        <th>
            ShipName
        </th>
        <th>
            ShipAddress
        </th>
        <th>
            ShipCity
        </th>
        <th>
            ShipRegion
        </th>
        <th>
            User
        </th>
        <th>
            OrderDetails
        </th>
        <th>
            Shipper
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OrderID }) |
            @Html.ActionLink("Details", "Details", new { id=item.OrderID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OrderID })
        </td>
        <td>
			@String.Format("{0:g}", item.OrderDate)
        </td>
        <td>
			@String.Format("{0:g}", item.RequiredDate)
        </td>
        <td>
			@String.Format("{0:g}", item.ShippedDate)
        </td>
        <td>
			@item.ShipName
        </td>
        <td>
			@item.ShipAddress
        </td>
        <td>
			@item.ShipCity
        </td>
        <td>
			@item.ShipRegion
        </td>
        <td>
			@(item.User == null ? "None" : item.User.UserName)
        </td>
        <td>
			@*@(item.OrderDetails == null ? "None" : item.OrderDetails.Count.ToString())*@
            @Html.ActionLink("Details", "Orders", "OrderDetails", new { id = item.OrderID }, null)
        </td>
        <td>
			@Html.DisplayTextFor(_ => item.Shipper.CompanyName).ToString()
        </td>
    </tr>
}

</table>


