@model NickZPS.Models.Category

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Category</legend>

    <div class="display-label">CategoryName</div>
    <div class="display-field">@Model.CategoryName</div>

    <div class="display-label">Description</div>
    <div class="display-field">@Model.Description</div>

    <div class="display-label">PicturePath</div>
    <div class="display-field">@Model.PicturePath</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.CategoryID }) |
    @Html.ActionLink("Back to List", "Index")
</p>


