@model NickZPS.Models.Invoice

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-label">
    @Html.LabelFor(model => model.InvoiceDate)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.InvoiceDate)
    @Html.ValidationMessageFor(model => model.InvoiceDate)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.SubTotal)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.SubTotal)
    @Html.ValidationMessageFor(model => model.SubTotal)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Discount)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Discount)
    @Html.ValidationMessageFor(model => model.Discount)
</div>

<div class="editor-label">
    User
</div>
<div class="editor-field">
    @Html.DropDownListFor(model => model.UserID, ((IEnumerable<NickZPS.Models.SysUser>)ViewBag.PossibleUsers).Select(option => new SelectListItem {
        Text = (option == null ? "None" : option.UserName), 
        Value = option.ID.ToString(),
        Selected = (Model != null) && (option.ID == Model.UserID)
    }), "Choose...")
    @Html.ValidationMessageFor(model => model.UserID)
</div>
