@model NickZPS.Models.OrderDetail

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-label">
    @Html.LabelFor(model => model.UnitPrice)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.UnitPrice)
    @Html.ValidationMessageFor(model => model.UnitPrice)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Quantity)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Quantity)
    @Html.ValidationMessageFor(model => model.Quantity)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Discount)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Discount)
    @Html.ValidationMessageFor(model => model.Discount)
</div>

<div class="editor-label">
    Order
</div>
<div class="editor-field">
    @Html.DropDownListFor(model => model.OrderID, ((IEnumerable<NickZPS.Models.Order>)ViewBag.PossibleOrders).Select(option => new SelectListItem {
        Text = Html.DisplayTextFor(_ => option.OrderID).ToString(), 
        Value = option.OrderID.ToString(),
        Selected = (Model != null) && (option.OrderID == Model.OrderID)
    }), "Choose...")
    @Html.ValidationMessageFor(model => model.OrderID)
</div>
<div class="editor-label">
    Product
</div>
<div class="editor-field">
    @Html.DropDownListFor(model => model.ProductID, ((IEnumerable<NickZPS.Models.Product>)ViewBag.PossibleProducts).Select(option => new SelectListItem {
        Text = Html.DisplayTextFor(_ => option.ProductName).ToString(), 
        Value = option.ProductID.ToString(),
        Selected = (Model != null) && (option.ProductID == Model.ProductID)
    }), "Choose...")
    @Html.ValidationMessageFor(model => model.ProductID)
</div>
