@model NickZPS.Models.Recommendation

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Recommendation</legend>

    <div class="display-label">UserID</div>
    <div class="display-field">@Model.UserID</div>

    <div class="display-label">UserName</div>
    <div class="display-field">@Model.UserName</div>

    <div class="display-label">Content</div>
    <div class="display-field">@Model.Content</div>

    <div class="display-label">Star</div>
    <div class="display-field">@Model.Star</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}


